@page "/news"


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <NavLink href="create-news" class="btn btn-info form-control">
                ثبت خبر جدید
            </NavLink>
            <div class="post-content">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>عنوان</td>
                            <td>تاریخ ثبت</td>
                            <td>تاریخ آخرین ویرایش</td>
                            <td>توضیحات کوتاه</td>
                            <td>دستورات</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (News.Any())
                        {
                            @foreach(var news in News)
                            {
                                <tr>
                                    <td>
                                        @news.Title
                                    </td>
                                    <td>
                                        @news.CreatedDate
                                    </td>
                                    <td>
                                        @news.UpdatedDate
                                    </td>
                                    <td>
                                        @news.ShortDescription
                                    </td>
                                    <td>
                                        <NavLink href ="@($"/news/edit-news/{news.NewsId}")" class="btn btn-warning btn-block">ویرایش</NavLink>
                                        <br/>
                                        <button class="btn btn-danger btn-block" @onclick="() => HandleDelete(news.NewsId)">حذف خبر</button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">هیچ خبری یافت نشد</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <p>
                IsConfirmed : @IsConfirmed
            </p>
        </div>
    </div>
</div>

<DeleteConfirmation IsParentComponentProcessing = "IsProcessing" ConfirmationChanged="ConfirmDelete_Click"></DeleteConfirmation>
