@page "/news/add-news"
@page "/news/edit-news/{Id:int}"


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-content">
                <EditForm Model="@NewsModel" OnValidSubmit="@HandleUpsertNews">
                    <DataAnnotationsValidator />

                    <div class="col md-12">
                        <div class="form-group">
                            <label>عنوان</label>
                            <InputText class="form-control" @bind-Value="@NewsModel.Title" placeholder="عنوان خبر" />
                        </div>
                        <ValidationMessage style="color:darkred" For="() => NewsModel.Title"/>
                    </div>

                    <div class="col md-12">
                        <div class="form-group">
                            <label>توضیحات کوتاه: </label>
                            <InputTextArea class="form-control" @bind-Value="@NewsModel.ShortDescription" placeholder="توضیحات کوتاه" />
                        </div>
                        <ValidationMessage style="color:darkred" For="() => NewsModel.ShortDescription" />
                    </div>

                    <div class="col md-12">
                        <div class="form-group">
                            <label>توضیحات: </label>
                            @* <InputTextArea class="form-control" @bind-Value="@NewsModel.Description" placeholder="توضیحات" /> *@
                            <CkEditorBlazor Id="MyEditor" @bind-Value="@NewsModel.Description"></CkEditorBlazor>
                        </div>
                        <ValidationMessage style="color:darkred" For="() => NewsModel.Description" />
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>تصویر خبر: </label>
                            <InputFile OnChange="HandleImageUpload"/>
                        </div>
                        @if(!string.IsNullOrEmpty(NewsModel.ImageUrl))
                        {
                            <div class="row" style="margin: 20px">
                                <div class="col-md-3">
                                    <img src="/images/news/@NewsModel.ImageUrl" />
                                    <button class="btn btn-danger" @onclick="() => DeleteImage()">
                                        حذف تصویر
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col md-12">
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">@Title خبر</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>