@page "/"
@using BlazorTopLearn_Server.Data


    <h2>Room Detail:</h2>
    <p>Name: @room.RoomName</p>
    <p>Price: @room.Price</p>
    <hr />

<input type="number" @bind-value="@room.Price" @bind-value:event="oninput" />
<input type="text" @bind-value="@room.RoomName" @bind-value:event="oninput" />
<br />

<label for="is_active">
    <input type="checkbox" id="is_active" @bind-value="room.IsActive" checked="@(room.IsActive ? "checked":null)" />
    <span>
        @* @if (room.IsActive)
        {
        <text>Is Active</text>
        }
        else
        {
        <text>Is Not Active</text>
        } *@
        Is @(room.IsActive?"Active":"Not Active")
    </span>
</label>
<hr />

<select @bind="SelectedRoomPropName">
    @foreach (var prop in room.BlazorRoomProps)
    {
        <option value="@prop.Name">@prop.Name</option>
    }
</select>

@code {
    string SelectedRoomPropName = "";
    BlazorRoom room = new BlazorRoom
        {

            Id = 4,
            RoomName = "Room 4",
            Price = 190,
            IsActive = true,
            BlazorRoomProps = new List<BlazorRoomProps>
            {
                new BlazorRoomProps{Id = 1, Name = "Name 1", Value = "Value 1"},
                new BlazorRoomProps{Id = 2, Name = "Name 2", Value = "Value 2"},
                new BlazorRoomProps{Id = 3, Name = "Name 3", Value = "Value 3"}
            }
        };
}
