@page "/"

<div class="bg-light p-2 border">

    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?"/>
</div>
<p>@Counter</p>

<CustomComponent Text="Item 1" OnChangeSelectBox="@CheckboxCounterChange"></CustomComponent>
<CustomComponent Text="Item 2" OnChangeSelectBox="@CheckboxCounterChange"></CustomComponent>
<CustomComponent Text="Item 3" OnChangeSelectBox="@CheckboxCounterChange"></CustomComponent>
<CustomComponent Text="Item 4" OnChangeSelectBox="@CheckboxCounterChange"></CustomComponent>
<CustomComponent Text="Item 5" OnChangeSelectBox="@CheckboxCounterChange"></CustomComponent>
<CustomComponent Text="Item 6" OnChangeSelectBox="@CheckboxCounterChange"></CustomComponent>
<CustomComponent Text="Item 7" OnChangeSelectBox="@CheckboxCounterChange"></CustomComponent>

@code{
    public int Counter { get; set; } = 0;
    protected void CheckboxCounterChange(bool isSelected)
    { 
        if (isSelected)
        {
            Counter += 1;
        }
        else
        {
            Counter -= 1;
        }

    }
}