@page "/"
@using BlazorTopLearn.Server.Data
@foreach (var item in rooms)
{
    <h2>Room Detail:</h2>
    <p>Name: @item.RoomName</p>
    <p>Price: @item.Price</p>
    <hr />
}

<input type="number" @bind-value="@room.Price" @bind-value:event="oninput"/>
<input type="text" @bind-value="@room.RoomName" @bind-value:event="oninput"/>
<br/>

<label for="is_active">
    <input type="checkbox" id="is_active" @bind="@room.IsActive" />
    <span>
        @* @if (room.IsActive)
        {
            <text>Is Active</text>
        }
        else
        {
            <text>Is Not Active</text>
        } *@
        Is @(room.IsActive?"Active":"Not Active")
    </span>
</label>
<hr/>

<select @bind-="SelectedPropName">
    @foreach(var prop in room.BlazorRoomProps)
    {
        <option value="@prop.Name">@prop.Name</option>
    }
</select>

@code {
    string SelectedPropName = "";
    BlazorRoom room = new BlazorRoom
        {

            Id = 4,
            RoomName = "Room 4",
            Price = 190,
            IsActive = true,
            BlazorRoomProps = new List<BlazorRoomProps>
            {
                new BlazorRoomProps{Id = 1, Name = "Name 1", Value = "Value 1"},
                new BlazorRoomProps{Id = 2, Name = "Name 2", Value = "Value 2"},
                new BlazorRoomProps{Id = 3, Name = "Name 3", Value = "Value 3"}
            }
        };

    List<BlazorRoom> rooms = new List<BlazorRoom>
    {
        new BlazorRoom
        {
            Id = 1,
            RoomName = "Room 1",
            Price = 300,
            IsActive = true
        },
        new BlazorRoom
        {
            Id = 2,
            RoomName = "Room 2",
            Price = 250,
            IsActive = true
        },
        new BlazorRoom
        {
            Id = 3,
            RoomName = "Room 3",
            Price = 120,
            IsActive = true
        }
    };
}
